
/* mobile view */
@media only screen and (max-width: 700px){ 

}
/* desktop view */
@media only screen and (min-width: 700px){

}
body{
    color: white;
    background-color: #676767;
}
/* nav section */
#nav{
    background-color: #232323;
}
/* top section */

/* road section */
#road{
    background-image: url(./images/gilbert1.png);
}
/* style for quote */
#quote{
    background-image: url(./images/gilbert2.png);
}