/* *{
    border: 1px solid red;
}  */

*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

/*------media query for mobile view--------*/
@media only screen and (max-width: 1000px){

.thanktext{
    margin-top: 10px;
    padding: 15px;
}
.thanktext p{
   padding: 15px 0 0;
   text-indent: 10px;
}
.title{
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    color: #232323;
}

fieldset{
    margin-top: 20px;
}
form{
    text-align: center;
    font-size: 10px;
    margin: auto;
}

form label{
    margin-left: 12px;
    font-weight: bold;
}
form input{
    justify-content: center;
    align-content: center;
}

#cname, #ccnum, #exp, #cvc, #zip, #email{
    padding: 5px;
    margin: 10px;
   width: 90%;
    }
#exp, #cvc{
    width: 42%;
}
button{
    width: 90%;
    height: 40px;
    font-size: medium;
    margin-left: 10px;
}

.pay{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pay a{
    padding: 15px;
}
.pay img{
    width: 40px;
    height: 40px;
}

#googlepay, #applepay{
    width: 70px;
    height: 70px;
}
#cash, #venmo{
    margin-top: 15px;
}


}



/*------media query for desktop view--------*/
@media only screen and (min-width: 1000px){

    #container{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    #thankyou{
        margin: 5px;
        /* padding: 40px; */
        width: 50%;
    }
    .thanktext{
        padding: 10px;
        font-size: 20px;
        /* width: 50%; */
    }
    .title{
        font-weight: 900;
        margin-left: 20px;
    }

    .thanktext p{
        margin-top: 20px;
        padding: 10px 30px;
        text-indent: 15px;
        font-weight: 500;
    }

    .payment{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    form{
        padding-left: 50px;
        text-align: center;
        font-size: 14px;
    }
    form input{
        justify-content: center;
        align-content: center;
    }
    form label{
        margin-left: 10px;
        margin-bottom: -30px; 
    }

    #cname, #ccnum, #exp, #cvc, #zip, #email{
    padding: 15px;
    margin: 10px;
    width: 80%;
    }

    #exp, #cvc{
        width: 36%;       
    }
    #cvc{
        margin-left: 20px;
    }
    #button{
        width: 345px;
        height: 50px;
        font-size: large;
        margin: 20px 0 0 10px;
    }

    .pay{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pay a{
        justify-content: space-around;
        padding: 5%;
    }
    .pay img{
        width: 40px;
        height: 50px;
    }

    #googlepay, #applepay{
        width: 70px;
        height: 70px;
    }
    #cash, #venmo{
        padding-top: 15px;
    }


}

  /*---------outside of media queries----------*/
  body{
      color: #727272;
      background-color:white;
      font-family: 'Roboto', sans-serif;
  }

  #navbar{
      position: static;
  }

  .title{
      color: black;
  }
  button{
      background-color: black;
  }
  button a{
      color: white;
      text-decoration: none;
      border: none;
  }

  #cname, #ccnum, #exp, #cvc, #zip, #email, #button{
      border: transparent;
      border-radius: 5px;
      box-shadow: -11px 14px 10px rgba(0, 0, 0, 0.25);
  }
  #cname, #ccnum, #exp, #cvc, #zip, #email{
    text-align: center;
    padding-bottom: 20px;
  }

  form{
      text-align: left;
      color: black;
  }
  form label{
      color: #A6A6A6;
  }
  
  ::placeholder{
      color: lightgray;     
  }

  fieldset{
      border: none;
  }