*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;*/
} 

/*---------media query for mobile view--------*/
@media only screen and (max-width: 1000px){
    .content img{
        width: 200px;
        margin-left: 24%;
        padding-bottom: 20px;
    }
    h2{
        font-size: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .lessons{
        margin: 25px;
        margin-top: 10px;
        font-size: 16px;
        /* float: left; */
    }
    .lessons p{
        padding-top: 15px;
    }
    .lessons li{
        padding-left: 20px;
    }
}


/*---------media query for desktop view--------*/
@media only screen and (min-width: 1000px){

    h2{
        font-size: 40px;
        margin-top: 100px;
        text-align: left;
        margin-left: 100px;
       width: 95%;
    }

    .lessons{
        width: 50%;
        margin-left: 100px;
        margin-top: 40px;
        font-size: 20px;
        float: left;
    }
    .lessons p{
        text-align: left;
    }
    .lesson-list {
       padding: 20px;
       text-align: left;
       margin-bottom: 40px;

    }
    .lessons li{
        text-decoration: none;
        text-align: left;
        padding-left: 20px;
    }

    .content{
        margin-top: 60px;
        text-align: center;
        justify-content: center;
    }
    .content img{
        width: 400px;
    }

    .contact-bottom-words{
        margin-left: -215px;
    }
  
    .footer{
      margin-top: -50px;
      padding-bottom: 10px;
        margin-left: 35px;
    }

    
}
/*---------outside of media queries--------*/
body{
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: lighter;
    /* text-transform: uppercase; */
    color: #8F8873;
}

#navbar{
    position: static;
}

.lessons{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.lesson-list{
    font-family: 'PT sans', sans-serif;
}

.footer{
    text-align: left;
}