*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/*---------media query for mobile view--------*/
@media only screen and (max-width: 1000px){
   .name{
       margin-top: 20px;
   }
    .schedule, .stats{
        margin-top: 30px;
        padding: 10px;
    }
    caption{
        padding-bottom: 20px;
    }
    th{
        border-bottom-left-radius: 15px;
        padding: 2px;
    }

    .schedule-image{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px 0;
    }
    .schedule-image img{
        width: 300px;
        height: 200px;
    }

    .contact-bottom-words{
        background-size: 100%;
        margin-top: 40px;
        width: 100%;   
        padding-right: 5px;
    }
    
    .footer{
        text-align: left;
        margin-top: -20px;
        padding: 5px;
        font-size: 10px;
        margin-left: 10px;
    }
}


/*---------media query for desktop view--------*/
@media only screen and (min-width: 1000px){

    .name{
        margin-top: 120px;
    }

    h2{
        font-size: 36px;
    }

    .schedule{
        margin-top: 100px;
    }
    caption{
        font-size: 24px;
        font-weight: 600; 
        padding-bottom: 55px;
    }
    th{
        font-size: 24px;
        font-weight: lighter;
        padding-bottom: 5px;
        border-bottom-left-radius: 20px;
        margin-bottom: 30px;
    }
   
    td{
        font-size: 16px;
        padding: 10px 25px 10px 15px;
        line-height: 31.06px;
    }

        .schedule-image{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 150px;
        }
        .schedule-image img{
            width: 500px;
            height: 400px;
        }
.contact-bottom-words{
    margin-left: -215px;
}
        .footer{
            /* padding-top: 200px; */
            margin-left: 35px;
        }
}




/*---------outside of media queries--------*/
body{
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #8F8873;
    text-align: center;
}

#navbar{
    position: static;
}

caption {
    color: white;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    caption-side: top;
}
th{
    color: #8F8873;
    font-family: 'Bai Jamjuree', sans-serif;
    border-bottom: 1px solid #8F8873;
    text-align: left;
}
td{
    color: white;
    font-family: 'PT sans', sans-serif;
    border: 1px solid #8F8873;
    text-transform: uppercase;
    font-weight: lighter;
}
 #first td{
     margin-top: 50px;
 }
.schedule, .stats{
    display: flex;
    justify-content: space-evenly;
}

.gil{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: normal;
}
.austin{
    font-family: 'Roboto', sans-serif;
}

.footer{
    text-align: left;
}