*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

/*--------media query for mobile view-------------*/
@media only screen and (max-width: 1000px){

.top img{
    margin-top: 60px;
}

.pga{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: x-large;
}

.story{
    padding: 5%;
    background-position: top left;
    background-size: 75%;
    margin-top: -25px;
}
.my-story{
    padding: 0px;
    align-items: center;
    font-size: 15px;
}
.my-story{
    display: flex;
    flex-direction: column;
}
.my-story img{
    width: 350px;
    margin: 60px 30px 40px 20px;
}
.my-story-title{
    font-size: x-large;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.bottom{
    background-size: 100%;
    /* background-position: bottom right; */
}

.bottom-content{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
}

.bottom-content img{
    width: 250px;
    /* height: auto; */
    padding: 40px 0;
    margin-top: 45px;
}

.bottom-content p{
    padding: 20px 20px;
    width: 100%;
}

.contact-bottom-words{
    margin-left: 70px;
    margin-top: 50px;
}


} 


/*---------media query for desktop view---------*/
@media only screen and (min-width: 1000px){

    .top img{
        margin-top: 90px;
        height: 70vh;
    }
    .pga{
        padding-top: 50px;
        letter-spacing: 10px;
        padding-bottom: 150px;
    }

    .story{
        padding: 5%;
        background-position: top left;
        background-size: 75%;
        margin-top: -65px;
    }

    .my-story{
        padding: 30px;
        margin-left: 20px;
        align-items: center;
        font-size: 20px;
        display: flex;
        flex-direction: row;
    }

    .my-story-title{
        padding-bottom: 10px;
        padding-left: 45px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .my-story p{
        word-spacing: 2px;
        padding: 10px;
    }
    section{
        width: 90%;
    }
    .my-story img{
        width: 550px;
        margin-top: -60px;
        padding: 90px;
    }

    .bottom{
        background-size: 75%;
        background-position: bottom right;
    }
    .bottom-content{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        align-items: center;
        padding: 60px;
        /* margin-bottom: 20px; */
    }
.bottom-content img{
    width: 350px;
    margin-top: 60px;
    margin-left: 130px;
    padding: 20px;
}
.bottom-content p{
    word-spacing: 2px;
    width: 50%;
    margin-left: 70px;
}

.contact-bottom-words{
    margin-left: 280px;
}

}


/*--------outside of media queries---------*/
 
body{
    color: white;
    background-color: #3f3f3f;
    font-family: 'Arapey', serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

.top img{
    width: 100%;
}
.filler{
    max-width: 100%;
}

.story{
    background-image: url(../images/GM.png);
    background-repeat: no-repeat;
}

.pga {
    text-align: center;
}

.pga h1, .my-story h1{
    font-family: 'Arapey', serif;
}


.bottom-content p, .my-story p{
    text-indent: 20px;
}

.gil{
    font-family: 'Bai Jamjuree', sans-serif;
}
.austin{
    font-family: 'Roboto', sans-serif;
}