/* *{
    border: 1px solid red;
}  */

*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

/* mobile view */
@media only screen and (max-width: 1000px){ 
    /*-----------nav section---------------*/
    #logo{
        width: 45px;
         height: 25px;
    }
    .logo, .nav-links, .buttons{
        display: inline-block;
        margin: 0;
        padding: 5px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 5px;
        /* align-items: center; */
      }

      .logo{
          margin-left: 10px;
          padding-top: 15px;
      }

      .buttons{
          justify-content: right;
      }
    .nav-links{
       
        width: 70%;
        justify-content: center;
        align-items: center;
        text-align: right;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin-top: 15px;
      }
    
    #share{
        height: 30px;
        width: 70px;
        margin-left: 0px;
        padding: 5px;
    }
    #donate{
        height: 30px;
        width: 90px;
        margin: 5px;
        padding: 5px;
    }

      /*--------top section-------------- */
#top{ 
    background-size: 80%;
    background-position: center;
}
#top-container{
    height: 250px;
    width: 100%;
    display: block;
}
.name{
    /* width: 95%; */
    font-size: 15px;
    margin: 0px;
    padding-top: 45px;
    text-align: center;
    padding-left: 30px;
}

.follow-container{
    letter-spacing: 10px;
    width: auto;
   padding-top: 60px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.follow{
    font-size: 12px;
    padding: 3px 5px;
    margin-top: 20px;
    /* margin-right: 5%; */
    height: 35px;
    width: 65px;
}

.social-icons{
    margin-top: 30px;
    float: right;
    margin-right: 5px;
 }
 
 #instagram, #facebook{
     width: 40px;
     height: 40px;
     padding: 5px;
 }

 /*--------------road section---------*/
#road{
    height: 220px;   
}
#road img{
    width: 100%;
    height: 200px;
    filter: brightness(85%);
}
#road h2{
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.road-container{
    width: 80%;
    margin-left: 10px;
    margin-top: 10;
    padding: 5px;
    transform: translate(0px, -215px);
    position: absolute;
    z-index: 1;
}

.road-container img{
    /* width: 10%; */
    height: 50%;
    transform: translate(-40px, -190px);
    position: relative;
    z-index: -1;
}

#road p{
    font-size: 13px;
    text-shadow: -2px -2px 5px rgba(0,0,0,0.5);
    width: 50%;
    margin-bottom: 5%;
}
.readmore{
    padding: 7px;
    border-radius: 5px;    
    height: 30px;
    width: 80px;
    font-size: 10px;
}

/*------------certified section----------------*/
#certified{
    background-size: 80%;
    background-position: bottom;
    width: 100%;
    height: 220px;
}
.certified{
    width: 90%;
    height: 75%;
    text-align: right;
    margin-top: 10px;  
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
}
#certified h2{
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.certified p{
    width: 100%;
    font-size: 14px;

}
#certified-button{
    /* margin-top: 5px; */
}

/* style for quote */
#quote{
    background-size: 100%;
    height: 200px;
    margin-top: 50px;
}
.quote{
    font-size: 10px;
    letter-spacing: 4px;
    line-height: 22px;   
    width: 90%;
    margin-top: 35px;
}
.quote p{
    text-align: right;
    width: 50%;
    margin-top: -80px;   
    padding-right: 25px;
}

/* .quote p{
    transform: translate(-12%, -220%);
} */
#bloopbottom{
    width: 40%;
    margin-left: 20px;
}

/*sponsor section*/
.sponsor-container{
    margin: 0;
    /* width: auto; */
}
.sponsors{
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.sponsors h2{
    letter-spacing: 4px;
    font-size: 22px;
    margin-bottom: 20px;
}
.thank{
    margin-top: -5px;
    font-size: 15px;
}
.sponsor-names{
    display: flex;
    /* width: 20%; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; 
}
.sponsor-names p{
    font-size: 15px;
    padding: 0 10px;
}
.follow-button{
    width: 25%;
    height: 25%;
    margin-left: 5%;
    padding-left: 2%;
    transform: translate(0,85%);
}
.contact-bottom{   
    padding-left: 50px; 
    padding-top: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    text-align: right;
    width: 100%;
    height: 250px;
}
.gil, .austin{
    letter-spacing: 4px;
    font-size: 15px;
}
.social-bottom{
    width: 100%;
    margin: 0;
    /* transform: translate(0, 40%); */
}
.social-bottom a{
padding: 5px;
}

.contact-bottom-words{
    background-size: 100%;
    margin-top: 40px;
    width: 100%;   
    padding-right: 5px;
}

#insta{
    width: 40px;
    height: 40px;
}
#fb{
    width: 40px;
    height: 40px;
}
#email{
    width: 40px;
    height: 40px;
}

.footer{
    text-align: left;
    /* margin-top: 20px; */
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}

}
/*-----------------------------------------------------------------*/
/*media query for menu*/
@media only screen and (max-width: 1000px){
        ul{
            position: absolute;
            top: 80px;
            left: 60px;
            background: #232323;
            width: 70%;
            overflow: hidden;
            transition: max-height 0.5s;
            font-family: 'Asap', sans-serif;
            border: transparent;
            border-radius: 5px;
            margin-top: 5px;
            text-align: center;
            padding-right: 15px;
        }
         ul li{
            display: block;
            margin: 10px;
            padding: 0;
            font-size: 15px;
            width: 100%;
            text-align: center;
        }
         ul li a{
            color: #fff;
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
}

/* desktop view */
@media only screen and (min-width: 1000px){
    /*-----------nav section----------*/
    .logo{
        width: 30%;
         height: 88%;
         padding-left: 20px;
    }
    
.navbar{
    /* overflow: hidden; */
    z-index: 2;
    padding: 20px;
    display: flex;
}

.navbar ul li a{
    font-size: 18px;
    margin: 0 25px;
    padding: 5px 5px;
}
.navbar ul{
    margin-left: 120px;
}
.navbar .nav-links a:hover, a:visited{
    border-bottom: solid  #791C1C 7px;
    padding-bottom: 10px;
}


.nav-links{
    list-style-type: none;
    display: flex;
}


.menu-icon{
    display: none;
}

.buttons{
    padding-top: 10px;
    display: flex;
    padding-right: 30px;
}

#share{
    height: 30px;
    width: 95px;
    margin-left: 0px;
    padding: 2px;
}

#donate{
    height: 30px;
    width: 95px;
    margin-left: 20px;
    padding: 2px;
}


    /*----------- top section----------- */
#top{ 
    background-size: 84%;
    background-position: top;
    height: 70vh;
    margin-top: 30px;
}

#top-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.name{
    font-weight: lighter;
    font-size: 30px;
}

.follow-container{
    letter-spacing: 13px;
    width: 80%;
    height: 40%;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 0px;
   
}
.follow{
    font-size: larger;
    padding: 10px 15px;
    margin-top: 90px;
    margin-right: 70px;
    height: 50px;
    width: 100px;
}

.social-icons{
   width: 20%;
   height: 10%;
   padding-top: 60px;
   margin-top: 40px;
}

#instagram, #facebook{
    width: 70px;
    height: 70px;
    padding: 10px;
}

/*--------------road section---------*/
#road{
    width: 100%;
    height: 623px;
}
#road img{
    margin-left: -10px;
    width: 100%;
}
#road h2{
    font-size: 36px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.road-container{
    width: 25%;
    height: 35%;
    margin-left: 130px;
    padding: 5px;
    margin-top: -455px;   
    position: absolute;
    z-index: 1;
}
#road p{
    font-size: 22px;
}

.road-container img{
   transform: translate(20px, -350px);
   position: relative;
   z-index: -1;
}
.readmore{
    padding: 12px;
    border-radius: 7px;    
    margin-top: 40px;
   
}

/*------------certified section--------------*/
#certified{
    background-size: 80%;
    background-position: bottom;
    width: 100%;
    height: 600px;
}
.certified{
    width: 70%;
    height: 60%;
    text-align: right;
    margin-right: 0;  
    font-size: 22px;
    transform: translate(22%, 25%);
}
#certified h2{
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.certified p{
    width: 100%;
}
#certified-button{
    margin-top: 60px;
    padding: 15px;
    font-size: 16px;
}

/* style for quote */
#quote{
    background-size: 100%;
    height: 700px;
    margin-top: -60px;
    margin-left: -10px;
    /* border-radius: 30px; */
}
.quote{
    width: 35%;
    height: auto;
    transform: translate(170%, 20%);
    font-size: 40px;
    text-align: right;
    letter-spacing: 4px;
    line-height: 60px;
}
.quote p{
    transform: translate(-25%, -180%);
}
#bloopbottom{
    width: 85%;
}

/*sponsor section*/
.sponsor-container{
    /* height: 1000px; */
    margin: 0;
    width: auto;
}
.sponsors{
    width: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 20%);
    text-align: center;
}
.sponsors h2{
    letter-spacing: 4px;
    font-size: 34px;
    margin-bottom: 20px;
}
.thank{
    margin-top: -5px;
    font-size: 22px;
}
.sponsor-names{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
    padding: 30px; 
    font-size: 20px;
}
.sponsor-names p{
    padding: 0 20px;
}
.follow-button{
    width: 25%;
    height: 25%;
    transform: translate(0%, 100%);
    /* justify-content: left;
    align-items: left;
    text-align: left; */
}
.contact-bottom{   
    background-size: 100%;
    margin: 400px 10px 0 200px;
    padding-top: 250px;
    text-align: right;
    line-height: 150px;
    padding: 0;
    display: flex;
    /* width: 80%; */
    height: 600px;
    
}
.gil, .austin{
    letter-spacing: 4px;
    font-size: 23px;
}
.social-bottom{
    width: 100%;
    justify-content: right;
}
.social-bottom a{
 padding: 40px 0px 0 20px;
 margin: auto;
}

.contact-bottom-words{
    width: 100%;
    padding-top: 30px;
    margin-right: 70px;
}

#insta, #fb{
    width: 45px;
    height: 45px;
}
#email{
    width: 42px;
    height: 45px;
    padding-bottom: 4px;
    margin-right: 2px;
}
 .footer{
     width: 40%;
     text-align: left;
     margin-left: 40px;
     padding-bottom: 20px;
     /* margin-top: -50px; */
 }

}
/*----------------------------------------------------------------------------*/

  /*--------------outside of media queries--------*/
body{
    color: white;
    background-color: #3f3f3f;
    /* font-family: 'Arapey', serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}

/*--------share modal-------*/
/* .mt-100 {
    margin-top: 100px
} */
.modal-backdrop{
    position: unset !important;
}
.modal {
    background-color: #3f3f3f;
    opacity: 90%;
}

.modal-title {
    font-weight: 900;
    color: black;
}

.modal-content {
    border-radius: 13px;
}

.modal-body {
    color: black;
}

.img-thumbnail {
    border-radius: 33px;
    width: 61px;
    height: 61px;
}

.fab:before, .fas:before{
    position: relative;
    top: 13px;
}

.smd {
    width: 200px;
    font-size: small;
    text-align: center;
}

.modal-footer {
    display: block;
    color: black;
}

.ur {
    border: none;
    background-color: #e6e2e2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cpy {
    border: none;
    background-color: #e6e2e2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important;
}

.ur.focus,
.ur:focus {
    outline: 0;
    box-shadow: none !important;
}

.message {
    font-size: 11px;
    color: #ee5535;
}

/*--------- nav section------------ */
#navbar{
    position: static;
}

.navbar{
    background-color: #232323;
    overflow: hidden; 
    /* width: 100%; */
    z-index: 2;
}

.navbar ul li a{
    color: #A6A6A6;
    font-family: 'Asap', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

#share{
    font-family: 'Roboto', sans-serif;
    border: solid 1px;
    background-color: transparent;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
}
#share:hover{
    opacity: 30%;
}
#donate:hover{
    opacity: 30%;
}
#donate{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #791C1C;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
}


The sticky class is added to the navbar with JS when it reaches its scroll position
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/*Top padding added to page content to prevent sudden quick movement (as the nav bar gets a new position at the top of the page)*/
.sticky + body{
    padding-top: 0px;
}

/*---------- top section-------------- */
#top{
    background-color: #3f3f3f;
    background-image: url(../images/topGM.png); 
    background-repeat: no-repeat;
}

.follow-container{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #8F8873;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}
.follow{
    border: solid 1px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.follow:hover{
    opacity: 30%;
}

#instagram, #facebook{
    cursor: pointer;
}
#instagram:hover, #facebook:hover{
opacity: 30%;
}

/*------------ road section--------------- */
#road{
    /* background-image: url(../images/gilbert1.png); */
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
#road h2{
    font-family: 'Bai Jamjuree', sans-serif;
    letter-spacing: 1px;
}

.road-container{
    text-align: left;
}
#road p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.readmore{
    /* background-color: #CB5D0D;
    color: white; */
    font-family: 'Asap', sans-serif;
    border:  5px solid #CB5D0D;
    background-color: transparent;
    color: #CB5D0D;
}
.readmore:hover{
    opacity: 30%;
}

/*------------certified section----------------*/
#certified{
    background-image: url(../images/GM.png);
    background-repeat: no-repeat;
    background-color: #3f3f3f;
}
.certified{
    font-family: 'Roboto';
}
#certified h2{
    font-family: 'Bai Jamjuree', sans-serif;
    letter-spacing: 1px;
}


/* style for quote */
#quote{
    background-image: url(../images/gilbert2.png);
    background-repeat: no-repeat;
}
.quote{
    font-family: 'Arapey';
    font-weight: 500;
    letter-spacing: 4px;
}

/*sponsor section*/
.sponsor-container{
    background-color: #3f3f3f;
}
.sponsors h2{
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.thank{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #676767;
}
.sponsor-names{
    color: #8F8873;
    font-family: 'Arapey';
    font-weight: 400;
    text-transform: uppercase;
}
.follow-button{
justify-content: left;
align-items: left;
text-align: left;
}
.contact-bottom{   
    text-align: right;
    /* display: flex; */
}
.gil, .austin{
    font-family: 'Bai Jamjuree';
    color: #8F8873;
    letter-spacing: 4px;
}

.contact-bottom-words{
    background-image: url(../images/GM.png);
    background-repeat: no-repeat;
    /* background-size: 100%; */
}
button{ 
    cursor: pointer;
}

#email:hover, #insta:hover, #fb:hover{
    opacity: 30%;
}

.footer{
    font-family: 'Roboto', sans-serif;
}
.footer a{
    color: white;
    text-decoration: none;
}