/* *{
    border: 1px solid red;
}  */

/* mobile view */
@media only screen and (max-width: 700px){ 

}
/* desktop view */
@media only screen and (min-width: 700px){
    /* #top-container{
        display: grid;
        grid-template-areas: "followbox icons";
    } */
}

*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

body{
    color: white;
    background-color: #3f3f3f;
    font-family: 'Arapey', serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

/* nav section */
#navbar{
    background-color: #232323;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    /* width: 100%; */
    z-index: 2;
}
#navbar a{
    color: #A6A6A6;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: auto;
    padding: 20px 30px 0px 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#navbar a:hover{
    color:black;
}
#logo{
     margin-left: 30px; 
     margin-right: 100px;
     width: 5%;
     height: 15%;
}
.nav-links{
    padding-left: 100px;   
    margin-left: 50px;
    width: 85%;
    justify-content: center;
    align-items: center;
    text-align: right;
}

#share{
    font-family: 'Roboto', sans-serif;
    border: solid 1px;
    background-color: transparent;
    color:#FFF;
    border-radius: 5px;
    height: 30px;
    width: 75px;
    margin-left: 40px;
    margin-right: -15px;
    padding: 5px;
    cursor: pointer;
}
#share:hover{
    opacity: 30%;
}
#donate:hover{
    opacity: 30%;
}
#donate{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #791C1C;
    color:#FFF;
    border-radius: 5px;
    height: 30px;
    width: 95px;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
}

/*The sticky class is added to the navbar with JS when it reaches its scroll position*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/*Top padding added to page content to prevent sudden quick movement (as the nav bar gets a new position at the top of the page)*/
.sticky + body{
    padding-top: 60px;
}

/* top section */
#top{
    background-color: #3f3f3f;
    background-image: url(../images/topGM.png); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: 84%;
    /* height: 520px; */
    height: 70vh;
}

#top-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    /* transform: translate(-50%, -50%); */
}

.follow-container{
    font-family: 'Bai Jamjuree', sans-serif;
    color: #8F8873;
    text-transform: uppercase;
    letter-spacing: 13px;
    width: 80%;
    height: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 0px;
    display: block;
   
}
.follow{
    border: solid 1px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: larger;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    margin-top: 90px;
    margin-right: 70px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.follow:hover{
    opacity: 30%;
}

.social-icons{
   /* height: 50px; */
   width: 20%;
   height: 10%;
   padding-left: 0px;
   margin-bottom: 20px;
}

#instagram, #facebook{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 10px;
}
#instagram:hover, #facebook:hover{
opacity: 30%;
}

/* road section */
#road{
    background-image: url(../images/gilbert1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 623px;
    display: block;
    border-radius: 30px;
}
#road h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.road-container{
    text-align: left;
    transform: translate(20%, 50%);
    width: 25%;
    height: 55%;
    margin-left: 20px;
    padding: 5px;
   
}
#road p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 22px;

}
.readmore{
    background-color: #CB5D0D;
    color: white;
    font-family: 'Asap', sans-serif;
    padding: 12px;
    border: none;
    border-radius: 7px;    
    margin-top: 40px;
}
.readmore:hover{
    opacity: 30%;
}

/*certified section*/
#certified{
    background-image: url(../images/GM.png);
    background-repeat: no-repeat;
    background-color: #3f3f3f;
    background-size: 80%;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}
.certified{
    width: 70%;
    height: 60%;
    text-align: right;
    margin-right: 0;  
    font-size: 22px;
    font-family: 'Roboto';
    transform: translate(22%, 50%);
}
#certified h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.certified p{
    width: 100%;
}
#certified-button{
    margin-top: 80px;
}

/* style for quote */
#quote{
    background-image: url(../images/gilbert2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 620px;
    margin-top: -60px;
    margin-left: -10px;
    border-radius: 30px;
}
.quote{
    width: 50%;
    transform: translate(85%, 340%);
    font-family: 'Arapey';
    font-weight: 500;
    font-size: 30px;
    text-align: right;
    letter-spacing: 4px;
    line-height: 60px;
}

/*sponsor section*/
.sponsor-container{
    background-color: #3f3f3f;
    height: 1000px;
    margin: 0;
    width: auto;
}
.sponsors{
    width: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 20%);
    text-align: center;
}
.sponsors h2{
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 34px;
    margin-bottom: 20px;
}
.thank{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #676767;
    margin-top: -5px;
    font-size: 22px;
}
.sponsor-names{
    color: #8F8873;
    font-family: 'Arapey';
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 30px; 
    font-size: 20px;
}
.follow-button{
width: 25%;
height: 25%;
transform: translate(0%, 85%);
justify-content: left;
align-items: left;
text-align: left;
}
.contact-bottom{   
    text-align: right;
    line-height: 150px;
    transform: translate(20%, 70%);
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    width: 80%;
  height: 50%;
}
.gil, .austin{
    font-family: 'Bai Jamjuree';
    color: #8F8873;
    letter-spacing: 4px;
    font-size: 23px;
}
.social-bottom{
    width: 100%;
    justify-content: right;
}
.social-bottom a{
 padding: 40px 0px 0 20px;
 margin: auto;
}

.contact-bottom-words{
    background-image: url(../images/GM.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    height: 450px;
    width: 80%;
}
button{ 
    cursor: pointer;
}
#insta, #fb{
    width: 50px;
    height: 45px;
}
#email{
    width: 45px;
    height: 45px;
    padding-bottom: 4px;
    margin-right: 7px;
}

#email:hover, #insta:hover, #fb:hover{
    opacity: 30%;
}
